<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Welcome to
        <%= message %>
    </p>


<form action="/" method="GET">
	<input type="text" name="urlLBC" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
	<button type="submit">
	OK
	</button>
	
	<div class="lign">
		<input type="text" value="price" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
		  <%= price %>  
	</div>

	<div>
	<input type="text" value="city" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
		<%= city %>
	</div>

	<div>
		<input type="text" value="type" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
		<%= type %>
	</div>

	<div>
		<input type="text" value="surface" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
		<%= surface %>
	</div>

	<div>
	<input type="text" value="squareMeterPrice" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
		<%= squareMeterPrice %>
	</div>

	<div>
		<input type="text" value="priceOnTheMarketAppart" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
		<%= priceOnTheMarketA %>
	</div>
	
	<div>
		<input type="text" value="priceOnTheMarketMaison" style="border:solid 1px black; border-radius:5px; text-align:center; box-shadow:0 0 6px;" />
		<%= priceOnTheMarketM %>
	<div/>	
	<div>
		<%= is %>
	</div>
</form>

</body>

</html>
